<%= form_with model: [ @test, @question], local: true do |form| %>
  <%= render 'shared/errors',resource: @question  %>
  <div>
    <%= form.label :text %><br>
    <%= form.text_field :text %>
    <%= @question.errors.full_messages_for(:text).each do |message| %>
      <div><%= message %></div>
    <% end %>
  </div>

  <div>
    <%= form.submit %>
  </div>
<% end %>
