<%= form_with model: [ @test, @question], local: true do |form| %>
  <%= render 'shared/errors',resource: @question  %>
  <div>
    <%= form.label :text %><br>
    <%= form.text_field :text id: :question_text %>
  </div>

  <div>
    <%= form.submit %>
  </div>
<% end %>
