<tr>
  <td class="align-middle">
    <%= badge.name %>
  </td>
  <td class="text-center align-middle">
    <%= badge.image %>
  </td>
  <td class="text-center align-middle">
    <%= badge.rule %>
  </td>
  <td class="text-center align-middle">
    <%= badge.option %>
  </td>
  <td class="text-center align-middle">
    <%= link_to t('.delete'), admin_badge_path(badge),
                              method: :delete,
                              data: { confirm: t('.confirmation')} %>
  </td>
</tr>
