<%= form_with model: [:admin, @badge], local: true do |form| %>
  <%= render 'shared/errors', resource: @badge %>


  <p class="mb-1">
    <%= form.label :name, "название" %><br>
    <%= form.text_field :name %>
  </p>
  <p class="mb-1">
    <%= form.label :image_url, "URL" %><br>
    <%= form.text_field :image_url %>
  </p>
  <p class="mb-1">
    <%= form.label :rule_type, "Условие получения" %><br>
    <%= form.select :rule_type, Badge.rule_types.keys.map { |w| [w.humanize, w] } %>
  </p>
  <p class="mb-1" id = "test-rule-value">
    <%= form.label :test %><br>
    <%= form.select :rule_value,
     Test.pluck(:name).sort,
    {},
    { class: "form-control test-rule-value" } %>
  </p>
  <p class="mb-1 hide" id = "category-rule-value">
    <%= form.label :category %><br>
    <%= form.select :not_actual_rule_value,
    Category.distinct.pluck(:name).sort,
    {},
    { class: "form-control category-rule-value" } %>
  </p>
  <p class="mb-1 hide" id = "level-rule-value">
    <%= form.label :level %><br>
    <%= form.select :not_actual_rule_value,
    Test.distinct.pluck(:level).sort,
    {},
    { class: "form-control level-rule-value" } %>
  </p>

  <p><%= form.submit %></p>

<% end %>
