<div>
    <h2><%= t('.header') %> </h2>
    <%= render 'shared/errors', resource: @test %>
    <table>
      <thead>
        <th><%= t('.name') %></th>
        <th><%= t('.image') %></th>
        <th><%= t('.rule') %></th>
        <th><%= t('.actions') %> </th>
      </thead>
      <tbody class="table-hover">
        <%= render @badges %>
      </tbody>
    </table>
  </div>
