<%= form_with model: [:admin, @test], local: true do |form| %>
  <%= render 'shared/errors', resource: @test %>
  <%= form.hidden_field :author_id, :value => 1 %>
  <p >
    <%= form.label :name %>
    <%= form.text_field :name %>
  </p>

  <p>
    <%= form.label :level %>
    <%= form.text_field :level  %>
  </p>

  <p>
    <%= form.label :timer %>
    <%= form.text_field :timer  %>
  </p>

  <p>
    <%= form.label :category_id %>
    <%= form.collection_select :category_id, Category.all, :id, :name, prompt: true %>
  </p>

  <p><%= form.submit, class: 'btn btn-primary'%></p>

<% end %>
