<%= form_with model: @test, local: true do |form| %>
<div>
  <%= form.label :level %><br>
  <%= form.namber_field :level %>
</div>

  <div>
    <%= form.label :name %><br>
    <%= form.text_field :name %>
    <%= @article.errors.full_messages_for(:name).each do |message| %>
      <div><%= message %></div>
    <% end %>
  </div>


  <div>
    <%= form.submit %>
  </div>
<% end %>
