<tr>
  <td><%= link_to test.name, test_path(test) %></td>
  <td><%= test.category.name %></td>
  <td><%= test.level %></td>
  <td><%= test.questions.count %></td>
  <td><%= link_to 'Изменить', edit_test_path(test) %></td>
  <td><%= link_to 'Удалить', test_path(test),
                  method: :delete,
                  data: {confirm: "Удалить тест #{test.name}?"} %>
  </td>
</tr>
