<tr>
  <td><%= test.name %></td>
  <td><%= test.category.name %></td>
  <td><%= test.level %></td>
  <td><%= test.timer %></td>
  <td><%= test.questions.count %></td>
  <td><%= button_to 'Старт', start_test_path(test) %></td>
</tr>
